body {
    margin: 0;
    background-color: rgb(54, 57, 56);
}

.main-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius {
    display: grid;
    grid-template-areas: 'verde vermelho'
    'amarelo azul';
    grid-gap: 10px;
    border: 1px solid #181414;
    background-color: #100e0e;
    border-radius: 100%;
    width: 700px;
    height: 700px;
}

.blue {
    grid-area: azul;
    background-color: rgb(51, 25, 244);
    border-bottom-right-radius: 100%;
}

.red {
    grid-area: vermelho;
    background-color: rgb(242, 37, 37);
    border-top-right-radius: 100%;
}

.yellow {
    grid-area: amarelo;
    background-color: rgb(244, 244, 39);
    border-bottom-left-radius: 100%;
}

.green {
    grid-area: verde;
    background-color: rgb(32, 131, 32);
    border-top-left-radius: 100%;
}

.selected {
    opacity: 0.8;
}